{% if k3s_advertise_address is defined %}
advertise-address: {{ k3s_advertise_address }}
{% endif %}
{% if k3s_cluster_cidr is defined %}
cluster-cidr: {{ k3s_cluster_cidr }}
{% endif %}
{% if k3s_service_cidr is defined %}
service-cidr: {{ k3s_service_cidr }}
{% endif %}
{% if k3s_node_external_ip is defined %}
node-external-ip: {{ k3s_node_external_ip }}
{% endif %}
selinux: {{ k3s_enable_selinux | lower }}
{% if k3s_data_dir is defined %}
data-dir: {{ k3s_data_dir }}
{% endif %}
{% if k3s_default_local_storage_path is defined %}
default-local-storage-path: {{ k3s_default_local_storage_path }}
{% endif %}
{% if k3s_additional_tls_sans is defined %}
tls-san:
{% for host in k3s_additional_tls_sans %}
  - {{ host }}
{% endfor %}
{% endif %}
{% if k3s_kubelet_arg is defined %}
kubelet-arg:
{% for arg in k3s_kubelet_arg %}
  - {{ arg }}
{% endfor %}
{% endif %}
{% if k3s_disable_list is defined %}
disable:
{% for item in k3s_disable_list %}
  - {{ item }}
{% endfor %}
{% endif %}
