advertise-address: {{ hostvars[groups['controlplane_master'][0]]['public_ip_address'] }}
{% if data_dir is defined %}
data-dir: {{ data_dir }}
{% endif %}
tls-san:
  - {{ inventory_hostname }}
{% if k3s_disable_list is defined %}
disable:
{% for item in k3s_disable_list %}
  - {{ item }}
{% endfor %}
{% endif %}
