{% if k3s_advertise_address is defined %}
advertise-address: {{ k3s_advertise_address }}
{% endif %}
{% if k3s_cluster_cidr is defined %}
cluster-cidr: {{ k3s_cluster_cidr }}
{% endif %}
{% if k3s_service_cidr is defined %}
service-cidr: {{ k3s_service_cidr }}
{% endif %}
selinux: {{ k3s_enable_selinux | lower }}
{% if k3s_data_dir is defined %}
data-dir: {{ k3s_data_dir }}
{% endif %}
tls-san:
{% for host in groups['controlplane'] %}
  - {{ hostvars[host]['public_ip_address'] }}
{% endfor %}
{% if k3s_disable_list is defined %}
disable:
{% for item in k3s_disable_list %}
  - {{ item }}
{% endfor %}
{% endif %}
