vrrp_instance VI_1 {
    state {% if inventory_hostname == groups['loadbalancer_master'][0] %}MASTER{% else %}BACKUP{% endif %}

    interface {{ ansible_facts['interfaces'] | map('extract', ansible_facts) | selectattr('ipv4', 'defined') | selectattr('ipv4.address', 'equalto', inventory_hostname) | map(attribute='device') | first }}

    virtual_router_id 51

    priority {% if inventory_hostname == groups['loadbalancer_master'][0] %}100{% else %}100 - (loop.index0 * 10){% endif %}

    advert_int 1

    authentication {
        auth_type PASS
        auth_pass mysecretpassword
    }

    virtual_ipaddress {
        {{ rke2_server }}/24
    }
}